{% load static %}
<head>
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{Videos.title}}</h1>
      
      <!-- <p class="lead text-muted">{% for video in videos%}
                                    {{video.publishedAt}}
                                {% endfor %}
      </p> -->
      <!-- <form method="POST"> -->
      <!-- <div class="input-group mb-3">
          {% csrf_token %}
          <input type="text" name="search" class="form-control" aria-label="Username">
      </div> -->
      <table>
        <tr>
          <th>Thumbnail</th>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
        {% for result in videos %}
        <tr>
          
          <!-- <th> <a href={{ result.thumbnailsUrls }}>{{ result.thumbnailsUrls }}</a></th> -->
          <th> <a href={{ result.video_id }}><img src={{ result.thumbnailsUrls }}></a></th>
          <th> {{ result.title }}</th>
          <th> {{ result.publishedAt }}</th>
          <th> {{ result.description }}</th>
        </tr> 
        {% endfor %}
        </table>
        </div>

  </section>

</head>

<!-- <HTML>
    <HEAD>
    <TITLE>Value of Shares</TITLE>
    <H3>Table Showing Cost of Shares</H3>
    <BODY>
    <TABLE BORDER=1>
    <?php
    for ($shares = 1; $shares <= 20; $shares++){
       $cost = $shares * 20;
       echo "<TR><TD>The cost of $shares share/s is $cost #x0024s</TD>","\n";
       $dividend = $cost * 0.10;
       echo "<TD>The dividend is $dividend #x0024s</TD></TR>  " ,"\n";
    }
    ?>
    </TABLE>
    </BODY>
    </HTML> -->
